<?xml version="1.0" encoding="UTF-8"?>
    
<!DOCTYPE log4j:configuration PUBLIC
        "http://jakarta.apache.org/log4j/"
        "log4j.dtd">
 

<log4j:configuration debug="false">
    <appender name="A1" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p %c - %m%n" />
        </layout>
    </appender>
    
    <appender name="CUBE" class="org.apache.log4j.FileAppender">
        <param name="File" value="logs\\server.log" />
        <param name="Append" value="true" />
        <param name="Encoding" value="UTF-8" />

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p %c - %m%n" />
        </layout>
    </appender>

    <category name="org.jatakasource" additivity="true">
        <priority value="INFO" />
        <appender-ref ref="CUBE" />
    </category>

    <root>
        <priority value="ERROR" />
        <appender-ref ref="CUBE" />
    </root>
</log4j:configuration>
